<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h1 class="card-title"><%= @post.title %></h1>
        <h6 class="card-subtitle mb-2 text-muted">
          By <%= @post.user&.name || "Unknown" %> &middot; <%= @post.created_at.strftime("%B %d, %Y") %>
        </h6>
      </div>
      
      <% if can?(:update, @post) || can?(:destroy, @post) %>
        <div class="btn-group">
          <% if can? :update, @post %>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
          <% end %>
          <% if can? :destroy, @post %>
            <%= button_to 'Destroy', @post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="card-text mt-3"><%= @post.body %></p>
  </div>
</div>

<h3>Comments (<%= @post.comments.count %>)</h3>
<hr>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Add a comment</h5>
    <%= render 'comments/form', post: @post, comment: @comment %>
  </div>
</div>

<div id="comments">
  <%= render @post.comments.select(&:persisted?) %>
</div>